// fonts
$titleFont: 'Playfair Display';
$textFont: 'Source Serif 4';

// text
$mainTextColor: #222222;
$highlightedTextColor: #f8a3b2;

// button background
$defaultButton: #f8a3b2;
$hoverButton: #d38c9d;
$pressedButton: #f67f94;
$disabledButton: #958286;
