<section class="about" id="about">
  <div class="about__container container">
    <h3 class="about__title">ПРО НАС</h3>
    <img
      srcset="images/image/about-mobile.jpg 1x, images/image/about-mobile-2x.jpg 2x"
      src="images/image/about-mobile.jpg"
      alt=""
      class="about__image"
    />
    <p class="about__text container">
      Наш салон працює з <span class="about__accent">2019</span> року,в місті
      <span class="about__accent">Хмельницький</span>.Ми працюємо над індевідуальним запитом кожного
      клієнта,а майстерність та професіоналізм майстрів залишать задоволеним самого вибагливого
      клієнта. У дружній атмосфері,зробимо саме те,що ви захочете,а наші приємні ціни заохочуть
      стати постійним клієнтом.
    </p>
  </div>
</section>
