<section class="advantages">
  <div class="advantages__container container">
    <h3 class="advantages__title">ЧОМУ МИ?</h3>
    <ul class="advantages__list list">
      <li class="advantages__item">
        <div class="advantages__iconThumb">
          <svg class="advantages__icon" width="70px" height="70px">
            <use href="images/sprite.svg#icon-Eco-friendly-Cleaning"></use>
          </svg>
        </div>
        <p class="advantages__text">ДЕЗИНФІКУЄМО ІНСТРУМЕНТИ</p>
      </li>
      <li class="advantages__item">
        <div class="advantages__iconThumb">
          <svg class="advantages__icon" width="70px" height="70px">
            <use href="images/sprite.svg#icon-Hair-Colouring"></use>
          </svg>
        </div>
        <p class="advantages__text">СЕРТИФІКОВАНА КОСМЕТИКА</p>
      </li>
      <li class="advantages__item">
        <div class="advantages__iconThumb">
          <svg class="advantages__icon" width="50px" height="50px">
            <use href="images/sprite.svg#icon-15"></use>
          </svg>
        </div>
        <p class="advantages__text">15 РОКІВ ДОСВІДУ У МАЙСТРІВ</p>
      </li>
      <li class="advantages__item">
        <div class="advantages__iconThumb">
          <svg class="advantages__icon" width="70px" height="70px">
            <use href="images/sprite.svg#icon-Trust"></use>
          </svg>
        </div>
        <p class="advantages__text">ДРУЖНЯ АТМОСФЕРА</p>
      </li>
      <li class="advantages__item">
        <div class="advantages__iconThumb">
          <svg class="advantages__icon" width="70px" height="70px">
            <use href="images/sprite.svg#icon-Cash"></use>
          </svg>
        </div>
        <p class="advantages__text">ПРИЄМНІ ЦІНИ</p>
      </li>
    </ul>
  </div>
</section>
