<section class="contacts">
  <div class="contacts__container container">
    <h2 class="contacts__title">КОНТАКТИ</h2>
    <div class="contacts__map">
      <ul class="contacts__list list">
        <li class="contacts__item"></li>
        <li class="contacts__item"></li>
        <li class="contacts__item"></li>
        <li class="contacts__item"></li>
      </ul>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1297.1596755846635!2d26.997506773336717!3d49.44068089712295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473207089d02e385%3A0x3f63d801b8e678ac!2z0L_RgNC-0YHQv9C10LrRgiDQnNC40YDRgywgMjc0LCDQpdC80LXQu9GM0L3QuNGG0YzQutC40LksINCl0LzQtdC70YzQvdC40YbRjNC60LAg0L7QsdC70LDRgdGC0YwsIDI5MDAw!5e0!3m2!1suk!2sua!4v1686590629010!5m2!1suk!2sua"
        width="400"
        height="300"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
      <p class="contacts__text">м.Хмельницький</p>
    </div>
  </div>
</section>

<!-- https://goo.gl/maps/S2Z7EqK3KxJQxx17A -->
