<section class="header">
  <div class="container header__container">
    <div class="header_logo">
      <p class="logo">O<span class="logo__letter">K</span>SI</p>
      <svg class="scissors-logo-header" width="12px" height="16px">
        <use href="images/sprite.svg#icon-scissors-logo-header"></use>
      </svg>
    </div>

    <div class="header_nav">
      <svg class="phone_black" width="21px" height="21px">
        <use href="images/sprite.svg#icon-phone_black"></use>
      </svg>
      <svg class="burger_menu" width="22.5px" height="22.5px">
        <use href="images/sprite.svg#icon-burger_menu"></use>
      </svg>
    </div>
  </div>
</section>
