<div class="backdrop is-hidden">
  <div class="menu-mob">
    <button class="menu-mob__btn">
      <svg class="menu-mob__close" width="21" height="21">
        <use href="images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="navigation">
      <ul class="navigation_list list">
        <li class="navigation__item">
          <a href="./" class="navigation__link link">ГОЛОВНА</a>
          <span class="square"></span>
          <hr class="menu-mob__line" />
        </li>
        <li class="navigation__item">
          <a href="#about" class="navigation__link link">ПРО НАС</a>
          <span class="square"></span>
          <hr class="menu-mob__line" />
        </li>
        <li class="navigation__item">
          <a href="#services" class="navigation__link link">ПОСЛУГИ</a>
          <span class="square"></span>
          <hr class="menu-mob__line" />
        </li>
        <li class="navigation__item">
          <a href="#price" class="navigation__link link">ПРАЙС</a>
          <span class="square"></span>
          <hr class="menu-mob__line" />
        </li>
        <li class="navigation__item">
          <a href="#contacts" class="navigation__link link">КОНТАКТИ</a>
          <span class="square"></span>
          <hr class="menu-mob__line" />
        </li>
      </ul>
    </nav>
    <div class="menu-mob__footer">
      <div class="menu-mob__phone">
        <!-- <svg><use></use></svg> -->
        <a href="tel: +380976604435" class="menu-mob__linkPhone link">
          <svg class="menu-mob__icon" width="15px" height="15px">
            <use href="images/sprite.svg#icon-phone_white"></use>
          </svg>
          <div class="menu-mob__text">+380 (97) 660 44 35</div>
        </a>
      </div>
      <div class="menu-mob__clock">
        <svg class="menu-mob__icon" width="15px" height="15px">
          <use href="images/sprite.svg#icon-clock"></use>
        </svg>
        <div class="menu-mob__text">
          Графік роботи:<br />
          Пн.-Сб. 10:00-18:00 <br />
          Нд. - вихідний
        </div>
      </div>
    </div>
  </div>
</div>
