<div class="bacdropModal is-hidden">
  <div class="modal">
    <button type="button" class="modal__close">
      <svg class="modal__icon" width="20px" height="20px">
        <use href="images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="modal__title">ЗАПИШІТЬСЯ</h3>
    <p class="modal__text">Забронюйте свій час та отримайте знижку 30%</p>
    <form class="modal__form">
      <input type="text" placeholder="Ім'я" name="client" class="modal__input" />
      <input type="tel" placeholder="+380" name="number" value="+380" class="modal__input" />
      <div class="modal__check">
        <svg class="check__icon" width="67px" height="62px">
          <use href="images/sprite.svg#icon-Check"></use>
        </svg>
      </div>
      <button type="submit" class="modal__button">ЗАПИСАТИСЬ</button>
      <p id="my-form-status"></p>
    </form>
  </div>
</div>
