<section class="price" id="price">
  <div class="price__container container">
    <h2 class="price__title">ПРАЙС</h2>
    <ul class="price__list list">
      <li class="price__item">
        <h3 class="price__subtitle" id="haircuts">СТРИЖКА</h3>
        <ul class="list price__sublist">
          <li class="price__subitem">
            <p class="price__text">Стрижка жіноча</p>
            <hr class="price__line" />
            <p class="price__text">від 150 грн.</p>
          </li>
          <li class="price__subitem">
            <p class="price__text">
              Стрижка чоловіча <br />
              (машинка/машинка+ножиці)
            </p>
            <hr class="price__line" />
            <p class="price__text">100 / 120 грн.</p>
          </li>
        </ul>
      </li>
      <li class="price__item">
        <h3 class="price__subtitle" id="dyeing">ФАРБУВАННЯ ВОЛОССЯ</h3>
        <p class="price__aftersubtitleText">
          (точну ціну Ви зможете дізнатися, коли Ви прийдете на консультацію)
        </p>
        <ul class="list price__sublist">
          <li class="price__subitem">
            <p class="price__text">Фарбування коренів</p>
            <hr class="price__line" />
            <p class="price__text">від 350 грн.</p>
          </li>
          <li class="price__subitem">
            <p class="price__text">Фарбування короткого волосся</p>
            <hr class="price__line" />
            <p class="price__text">від 400 грн.</p>
          </li>
          <li class="price__subitem">
            <p class="price__text">Фарбування середнього волосся</p>
            <hr class="price__line" />
            <p class="price__text">від 450 грн.</p>
          </li>
        </ul>
      </li>
      <li class="price__item">
        <h3 class="price__subtitle" id="hairstyles">ЗАЧІСКИ</h3>
        <ul class="list price__sublist">
          <li class="price__subitem">
            <p class="price__text">Укладка утюжком</p>
            <hr class="price__line" />
            <p class="price__text">від 150 грн.</p>
          </li>
          <li class="price__subitem">
            <p class="price__text">Укладка методом “Брашинга”</p>
            <hr class="price__line" />
            <p class="price__text">170-300 грн.</p>
          </li>
          <li class="price__subitem">
            <p class="price__text">Накрутка святкова</p>
            <hr class="price__line" />
            <p class="price__text">200-400 грн.</p>
          </li>
        </ul>
      </li>
    </ul>
    <button class="price__button button">ЗАПИСАТИСЬ</button>
  </div>
</section>
