.button {
  display: block;
  margin: 0 auto;
  padding: 16px 30px;
  border-radius: 30px;
  font-family: 'Source Serif 4';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 1.05;
  letter-spacing: 0.05em;
  background: $defaultButton;
  border: none;

  &:hover,
  &:focus {
    background: $hoverButton;
    cursor: pointer;
  }
}
