.contacts {
}

.contacts__container {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(254, 246, 247, 0.938737) 13.85%,
    rgba(248, 163, 178, 0.39) 100%
  );

  //   border: 1px solid red;
}

.contacts__title {
  margin-bottom: 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.33;
  letter-spacing: 0.1em;
}
