.header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background: rgba(255, 255, 255, 0.7);
}

.header__container {
  padding-top: 3px;
  padding-bottom: 3px;

  background: rgba(248, 163, 178, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo {
  position: relative;
}

.logo {
  font-family: 'Source Serif 4';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.375;
  letter-spacing: 0.1em;
  color: #e0b0b9;
}
.logo__letter {
  color: #c7556a;
}

.scissors-logo-header {
  fill: #c7556a;
  position: absolute;
  top: 40%;
  left: 16.5%;
}

.header_nav {
  display: flex;
}

.header_link {
  &:hover,
  &:focus {
    .phone_black {
      transform: scale(1.15);
    }
  }
}

.header__burger {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;

  margin-left: 25px;
  &:hover,
  &:focus {
    .burger_menu {
      transform: scale(1.15);
    }
  }
}
