.bacdropModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(34, 34, 34, 0.4);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 300px;
  padding: 45px 24px 36px 24px;
  background: #ffffff;
  border-radius: 30px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.modal__icon {
  stroke: #222222;
}

.modal__title {
  text-align: center;
  margin-bottom: 5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.21;
  // letter-spacing: 0.05em;
  letter-spacing: 1.2px;
  color: #222222;
}

.modal__text {
  // margin-bottom: 20px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.05em;
  color: #222222;
}

.modal__input {
  &:first-child {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  &:not(:first-child) {
    margin-bottom: 35px;
  }

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;

  width: 100%;
  background: rgba(224, 176, 185, 0.6);
  border: 1px solid rgba(224, 176, 185, 0.6);
  border-radius: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.05em;
  color: #222222;

  &::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.05em;
    color: #222222;
  }

  &:hover {
    border: 1px solid #f8a3b2;
    &::placeholder {
      color: #afa4a4;
    }
  }
  &:focus {
    border: 1px solid #72313d;
    &::placeholder {
      color: #ffffff;
    }
  }
}

.modal__button {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #f8a3b2;
  border: none;
  border-radius: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.05em;
  color: #222222;
}

.modal__check {
  padding: 30px 23px 30px 33px;
  margin: 15px auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  border: 3px solid #f8a3b2;
}

.check__icon {
  transform: rotate(7.49deg);
  fill: #f8a3b2;
}
